@using System.Security.Principal
@using Microsoft.AspNetCore.Authentication.OpenIdConnect 
@using WindowsAuth


@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Home" asp-action="AccountSettings">Hello, @ViewData["Username"]</a></li>
        <li>@Html.ActionLink("Log Out", "LogOff", "AccountView")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>Login by: </a></li>
    @foreach (var pair in WindowsAuth.Startup.AuthenticationSchemes)
    {
        <li>
            <a href="/Identity/Account/ExternalLogin?provider=@pair.Value">@pair.Key Account</a>
            <!-- @Html.ActionLink(pair.Key + " Account", "Account/ExternalLogin", "Identity", routeValues: new { provider = pair.Value }, htmlAttributes: new { id = "loginLink" })
    @Html.ActionLink(pair.Key + " Account", "Login", "Account", routeValues: new { scheme = pair.Key }, htmlAttributes: new { id = "loginLink" }) -->
        </li>
        }
    
    </ul>
}
